.home {
  /* position: relative; */
  padding-block: 2rem;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(2, 1fr);
}

.navigation ul li {
  list-style-type: none;
  font-size: var(--primary-font-size);
  font-size: var(--primary-font-family);
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  width: 300px;
  height: var(--primary-font-size);
}

.link {
  text-decoration: none;
  padding: 10px;
  text-align: center;
  justify-content: center;
}
